@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';


@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

body {
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: #333;
}
header {
    font-family: "Spartan", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    background-color: #40126f;
    color: white;
}
header h1 {
    font-size: 1.2em;
    margin: 0;
}

#app {
    margin: 10px;
}
button {
    margin: 10px 5px;
}

h3 {
    margin: 0 10px;
}
li {
    font-size: 20px;
    justify-content: flex-start;
    padding: 12px 10px;
}

p {
    margin: 0 0 0 20px;
}
input[type="checkbox"] {
    margin-left: 10px;
    width: 18px;
    height: 18px;
}
.form{
    padding: 15px 0;
}
.flex {
    display: flex;
    align-items: center;
}
.vertical {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.crossed-off {
    text-decoration: line-through;
}
.delete {
    margin: 0 5px 0 auto;
    border: none;
    font-size: 1em;
}
.message {
    width: 100%;
}
.faded {
    color: rgba(255, 255, 255, 0.4);
}
.actions{
    margin: 50px 0;
    .btn-full{
        width: 100%;
        margin: 3px;
    }

}